body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(2, 68, 173, 0.63), rgba(5, 38, 77, 0.13));
  color: #1E1E1F;
  font-family: sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
